.header {
    min-height: 10vh;
    width: 100%;
    .nav {
        min-height: 10vh;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #313132;
        a {
            img {
                width: 25px;
            }
        }
    }
}