.mainIndex {
    min-height: 82vh;
    .mainHeader {
        width: 80%;
        margin: 10vh auto;
        text-align: center;
        .h1 {
            font-weight: bold;
        }
    }
    .mainBody {
        width: 80%;
        margin: 10vh auto;
        text-align: center;
        .h1 {
            font-weight: bold;
        }
        .h2 {
            margin: 5vh 0 10vh 0;
        }
        .rowCard {
            justify-content: center;
            .productCard {
                height: 40vh;
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border: 1px solid gray;
                @extend .mpReset;
                .productImgContainer {
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .productImg {
                        width: 45%;
                    }
                }
                .linkToP {
                    width: 100%;
                    height: 30%;
                    .productButton {
                        width: 100%;
                        height: 100%;
                        background-color: rgb(48, 48, 48);
                        color: white;
                        transition: background-color 0.5s;
                    }
                    .productButton:hover {
                        background-color: black;
                    }
                }
            }
        }
        .rowButton {
            width: 50%;
            margin: 0 auto;
            .col {
                @extend .mpReset;
                .button {
                    padding: 25px 100px;
                    margin: 5vh 0;
                    background-color: rgb(48, 48, 48);
                    color: white;
                    transition: background-color 0.5s;
                }
                .button:hover {
                    background-color: black;
                }
            }
        }
        .p {
            margin: 10vh 0;
        }
    }
}

@media (max-width: 907px) {
    .mainIndex {
        .mainBody {
            .rowCard {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1150px) {
    .mainIndex {
        .mainBody {
            .rowButton {
                width: 100%;
            }
        }
    }
}